<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTestServlet</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.NewTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPersonne</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.ListPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbstractServlet</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.common.AbstractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheOeuvre</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.RechercheOeuvre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegenDb</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.RegenDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationOeuvre</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.AjouterPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.Connexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTestServlet</servlet-name>
        <url-pattern>/NewTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPersonne</servlet-name>
        <url-pattern>/ListPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbstractServlet</servlet-name>
        <url-pattern>/AbstractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheOeuvre</servlet-name>
        <url-pattern>/RechercheOeuvre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegenDb</servlet-name>
        <url-pattern>/RegenDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationOeuvre</servlet-name>
        <url-pattern>/ReservationOeuvre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
